<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.virtualpizzaboy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <application
        android:allowBackup="true"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        android:icon="@drawable/logo_splash_screen"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo_splash_screen"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory"
        tools:targetApi="p">
        <activity android:name=".pay_using_wallet"></activity>
        <activity android:name=".MyWallet" />
        <activity android:name=".CreateWallet" />
        <activity android:name=".end" />
        <activity android:name=".token_display" />
        <activity android:name=".payment_gateway" />
        <activity android:name=".login" />
        <activity android:name=".register" />
        <activity android:name=".CustomerWelcome" />
        <activity android:name=".AdminWelcome" />
        <activity android:name=".payment_method_display" />
        <activity android:name=".check_otp" />
        <activity android:name=".add_money_to_wallet" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>